.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.selected-dark {
    background-color: #2f2f2f;
}

.selected-light {
    background-color: #ebebeb;
}

.br-8 {
    border-radius: 8px;
}

.container {
    padding: 10px;
}

.navigation-menu {
    margin-top: 10px;
}

.imageContainer {
    background-image: url("https://in.drivenn.ru/nwfz3r1grf3c3_bcbvmk.jpeg");
    width: 1100px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50px;
}

.gradient {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 32px;
}

.w-100 {
    width: 100%;
}

.home-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 20px);
    padding: 10px;
}
